<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" type="css/text" href="Styles/dashboard.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
</head>

<body onload="populateData(); populateDataRelQ();">
    <h1>Dashboard</h1>
    <hr />
    <div id="velocityDiv" class="list-inline">
        <h2>VELOCITY</h2>
        <span>Team</span>
        <select id="scrumTeamVelocity" class="scrumTeamDropdown">
            <option value="All">All</option>
            <option value="onCampus">onCampus</option>
            <option value="onRecord">onRecord</option>
            <option value="onMessage">onMessage</option>
            <option value="onBoard">onBoard</option>
        </select>
        <span id="sprintVelocityText"> Sprint Number</span>
        <select id="sprintVelocity" class="sprintDropdown"></select>
        <span id="monthVelocityText" hidden>Month</span>
        <select id="monthVelocity" class="monthDropdown" onchange="updateTranslation()" hidden></select>
        <span style="color:gray;margin-left:6px;font-style:italic" id="monthToSprintTranslation" hidden></span>
        <br />
        <button type="button" onclick="displayVelocity()" style="background-color:green; padding:3px; margin-top:5px;  margin-bottom:5px; color: white; font-style:bold; border:  4px solid; border-bottom-color:darkgreen; border-radius: 5px;"> Add </button>
        <br />
        <div hidden>
            <input type="checkbox" id="addMultipleVel" onchange="checkBoxClearAddedVel()">Compare Graphs</t>
            ||
            <input type="radio" name="viewBy" value="sprint" onclick="switchToSprint()" checked> View By Sprint </t>|
            <input type="radio" name="viewBy" value="month" onclick="switchToMonth()" id="viewByMonthRadio"> View By Month <br>
        </div>

        <button type="button" onclick="showTeamHistoryVel()"> Show Selected Team's History </button>
        <button type="button" onclick="showTimePeriodVel()"> Show Teams for Selected Time Period </button>
        <button type="button" onclick="clearAddedVel()">Clear Added Graphs </button>
        <br><br>
        <div id="velocityVis" class="vis"></div>
        <h3>Timeline of Percentage of Story Points Completed</h3>
        <p style="color:lightslategray;">Hover over data points for additional info.</p>
        <div style="text-align:center;background-color:forestgreen; color:white; width:30%; padding-left:10px;border-radius:10px;border-bottom:4px solid black;border-right:4px solid black">
            <br />Moving Average Opacity<br />
            <input type="range" id="movingAverageOpacity" min="0.0" max="1.0" step="0.05" value="1.0" onchange="updateOpacity()" /><br />
            <br />Path Opacity<br />
            <input type="range" id="pathOpacity" min="0.0" max="1.0" step="0.05" value="1.0" onchange="updatePathOpacity()" /><br />

        </div>
        <div id="velocityVisGraph" class="vis"></div>
        <script src="../Scripts/dashboardVelocity.js"></script>

    </div>
    <hr />
    <div id="releaseQualityDiv" class="list-inline">
        <h2>RELEASE QUALITY</h2>
        <select id="scrumTeamReleaseQ" class="scrumTeamDropdown">
            <option value="All">All</option>
            <option value="onCampus">onCampus</option>
            <option value="onRecord">onRecord</option>
            <option value="onMessage">onMessage</option>
            <option value="onBoard">onBoard</option>
        </select>
        <select id="sprintReleaseQ" class="sprintDropdown"></select>
        <button type="button" onclick="displayReleaseQ()"> Add </button>

        <input type="checkbox" id="addMultipleRelQ" onchange="checkBoxClearAddedRelQ()">Compare Graphs<br>
        <button type="button" onclick="showTeamHistoryRelQ()"> Show Selected Team's History </button>
        <button type="button" onclick="showSprintRelQ()"> Show Teams for Selected Sprint </button>
        <button type="button" onclick="clearAddedRelQ()">Clear Added Graphs </button>
        <script src="../Scripts/dashboardReleaseQ.js"></script>
        <div id="releaseQVis" class="vis"></div>

    </div>

    <div id="releasedDiv" class="list-inline">
        <h4>RELEASED</h4>
        <select>
            <option value="All">All</option>
            <option value="onCampus">onCampus</option>
            <option value="onRecord">onRecord</option>
            <option value="onMessage">onMessage</option>
            <option value="onBoard">onBoard</option>
        </select>
    </div>

    <div id="storiesAddedDiv" class="list-inline">
        <h4>STORIES ADDED</h4>
        <select>
            <option value="All">All</option>
            <option value="onCampus">onCampus</option>
            <option value="onRecord">onRecord</option>
            <option value="onMessage">onMessage</option>
            <option value="onBoard">onBoard</option>
        </select>
    </div>
</body>

</html>
